.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
  min-width: 200px;

  border-radius: 43px;
  background: #95dba6;
  box-shadow: 25px 25px 50px #82bf90, -25px -25px 50px #a8f7bc;

  cursor: pointer;
  transition: all 0.3s ease;
}

.container-card:hover {
  background: #33d15b;
}

span {
  position: relative;
  top: 0px;
  left: -80px;
  font-size: 1rem;
}

.image {
  width: 120px;
  height: 120px;
}

h1 {
  text-transform: capitalize;
  margin: 0 0 1rem 0;
  margin-bottom: 1rem;
}

p {
  text-transform: capitalize;
  margin: 0;
}
