.grass {
  background: #33d15b;
}
.bg-grass {
  background: #33d15b91;
}
.bg-grass:hover {
  background: #33d15b;
}
.bug {
  background: #729f3f;
}
.bg-bug {
  background: #729f3f91;
}
.bg-bug:hover {
  background: #729f3f;
}
.dragon {
  background: #53a4cf;
}
.bg-dragon {
  background: #53a4cf91;
}
.bg-dragon:hover {
  background: #53a4cf;
}
.fairy {
  background: #fdb9e9;
}
.bg-fairy {
  background: #fdb9e991;
}
.bg-fairy:hover {
  background: #fdb9e9;
}
.fire {
  background: #fd3824;
}
.bg-fire {
  background: #fd382491;
}
.bg-fire:hover {
  background: #fd3824;
}
.ghost {
  background: #7b62a3;
}
.bg-ghost {
  background: #7b62a391;
}
.bg-ghost:hover {
  background: #7b62a3;
}
.ground {
  background: #c5ac0e;
}
.bg-ground {
  background: #c5ac0e91;
}
.bg-ground:hover {
  background: #c5ac0e;
}
.normal {
  background: #a4acaf;
}
.bg-normal {
  background: #a4acaf91;
}
.bg-normal:hover {
  background: #a4acaf;
}
.psychic {
  background: #f366b9;
}
.bg-psychic {
  background: #f366b991;
}
.bg-psychic:hover {
  background: #f366b9;
}
.steel {
  background: #9eb7b1;
}
.bg-steel {
  background: #9eb7b191;
}
.bg-steel:hover {
  background: #9eb7b1;
}
.dark {
  background: #707070;
}
.bg-dark {
  background: #70707091;
}
.bg-dark:hover {
  background: #707070;
}
.electric {
  background: #eed535;
}
.bg-electric {
  background: #eed53591;
}
.bg-electric:hover {
  background: #eed535;
}
.ice {
  background: #51c4e7;
}
.bg-ice {
  background: #51c4e791;
}
.bg-ice:hover {
  background: #51c4e7;
}
.flying {
  background: #3dc7ef;
}
.bg-flying {
  background: #3dc7ef91;
}
.bg-flying:hover {
  background: #3dc7ef;
}
.rock {
  background: #a38c21;
}
.bg-rock {
  background: #a38c2191;
}
.bg-rock:hover {
  background: #a38c21;
}
.poison {
  background: #9848af;
}
.bg-poison {
  background: #9848af91;
}
.bg-poison:hover {
  background: #9848af;
}
.fighting {
  background: #d56723;
}
.bg-fighting {
  background: #d5672391;
}
.bg-fighting:hover {
  background: #d56723;
}
.water {
  background: #4592c4;
}
.bg-water {
  background: #4592c491;
}
.bg-water:hover {
  background: #4592c4;
}
