.container {
  width: 100%;
  background: #c3cbc5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px 20px;
}

@media screen and (max-width: 650px) {
  .container .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
